<p>
  Ecologists and evolutionary biologists increasingly 
  depend on data sharing, complicated data processing 
  pipelines and custom analysis software. More and more 
  journals are asking that authors share their data 
  and analysis code for review ("<a href="https://www.nature.com/articles/d41586-018-02741-4">Does your code stand up to scrutiny? Nature March 6th, 2018.</a>"). 
  Learning how to manage your data and code effectively 
  is now a critical part of graduate education in 
  ecology and evolutionary biology. 
</p>
<p>
  Luckily there's help! <a href="{{site.swc_site}}">Software Carpentry</a>. 
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
  You can't learn everything in two days, but the instructors for 
  this workshop have tried to select lessons from the 
  Software Carpentry curriculum that will be most helpful 
  for graduate students and other researchers in the 
  EEB community at UCLA. We will introduce use of the shell, 
  version control with git and basic data processing and project 
  management with R and Rstudio. See the syllabus below. 
</p>
<p align="center">
  <em>
    For more information on what Software Carpentry teaches and why,
    please see this paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<p>
  The instructors for this workshop will be Andy Kleinhesselink 
  a postdoc working in Dr. Kraft's lab here at UCLA
  and Tim Dennis who is a data librarian and Director 
  of the Social Sciences Data Archive at UCLA.  
</p>
