<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (Part 1)</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/" target="_blank">R for Reproducible Scientific Analysis (Part 2)</a></td> </tr>
      <tr> <td>11:00</td>  <td>Coffee</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td> </tr>
      <tr> <td>15:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

### Class materials

* [Notes and Scripts](https://github.com/ucla-data-archive/ucla-workshop)
