<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell"><a href="http://swcarpentry.github.io/shell-novice">The Unix Shell</a></h3>
    <ul>
      <li><a href="http://swcarpentry.github.io/shell-novice/01-intro/">Introducing the Shell</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/02-filedir/">Navigating Files and Directories</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/03-create/">Working With Files and Directories</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/">Pipes and Filters</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/05-loop/">Loops</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/06-script/">Shell Scripts</a></li>
      <li><a href="http://swcarpentry.github.io/shell-novice/07-find/">Finding Things</a></li>
      <li><a href="{{site.swc_pages}}/shell-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-python">Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="{{site.swc_pages}}/python-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
-->
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>

  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git"><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a></h3>
    <ul>
      <li><a href="http://swcarpentry.github.io/git-novice/01-basics/">Automated Version Control</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/02-setup/">Setting Up Git</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/03-create/">Creating a Repository</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/04-changes/">Tracking Changes</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/05-history/">Exploring History</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/06-ignore/">Ignoring Things</a></li>
	    <li><a href="http://swcarpentry.github.io/git-novice/07-github/">Remotes in GitHub</a></li>
      <li><a href="http://swcarpentry.github.io/git-novice/08-collab/">Collaborating</a></li>
      <li><a href="http://swcarpentry.github.io/git-novice/09-conflict/">Conflicts</a></li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>-->
</div>
